@import "variables";

* {
    margin: 0;
    padding: 0 2%;
    box-sizing: border-box;
    background-color: $primary-color;
    font-family: 'Poppins', sans-serif;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1, h2, p, a {
        text-align: center;
        //padding-bottom: 10px;
    }
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}