@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $primary-color;
    font-family: 'Poppins', sans-serif;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    padding: 0 2%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1, h2, p, a {
        text-align: center;
    }
}

.inset {
    justify-content: center;
    box-shadow: inset 3px 3px 6px $dark-shadow, inset -3px -3px 6px $light-shadow;
    border-radius: 40px;
    width: 95%;
    height: auto;
    padding: 40px;
}

