@import "variables";

.primary-button {
    padding: 10px 30px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    color: $secondary-color;
    //border: 1px solid white;
    text-decoration: none;
    box-shadow: 3px 3px 6px $dark-shadow, -3px -3px 6px $light-shadow;
    border-radius: $button-boder-radius;

    &:hover {
        box-shadow: inset 3px 3px 6px $dark-shadow, inset -3px -3px 6px $light-shadow;
    }
}

.secondary-button {
    padding: 10px 30px;
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $accent-color;
    background-color: $primary-color;
    text-decoration: none;

    transition: color .2s ease-in-out;

    &:hover {
        color: darken($accent-color, 20)
    }
}

.buttons-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}