@import "variables";

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
}

section {
    scroll-snap-align: start;
}

// DESKTOP
@media only screen and (min-width: $break-1) {

    section {
        padding: 0 2%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        h1, h2, p, a {
            text-align: center;
        }
    }

}

// MOBILE
@media only screen and (max-width: $break-1) {

    section {
        padding: 0 5%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        h1, h2, p, a {
            text-align: center;
        }
        h1, h2 {
            margin: 10px 0;
        }
    }
    
}