$primary-color: #eaeaea;
$secondary-color: #343c3c;
$accent-color: rgb(243, 26, 145);

$light-shadow: rgba(255, 255, 255, 1);
$dark-shadow: rgba(184, 184, 184, 0.697);

$card-boder-radius: 30px;
$button-boder-radius: 6px;